{% extends "exchange/layout.html" %}

{% block title %}Purchases{% endblock %}

{% block body %}
        
        <div class="d-flex">
            <div>
                {% if supplier %}
                <h2>Purchases from {{supplier}}</h2>
                {% else %}
                <h2>Purchases</h2>
                {% endif %}
            </div>
            <div class="ms-auto">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filter by Supplier</button>
                <ul class="dropdown-menu">
                    {% for supplier in suppliers %}
                        <li >
                            <a class="dropdown-item" href="{% url 'supplier_purchases' supplier_id=supplier.id %}">
                                {{supplier}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr>
        <div class="list-group">
            {% for purchase in purchases %}
                <a href="{% url 'view_purchase' purchase_id=purchase.id  %}" class="list-group-item list-group-item-action" >{{ purchase }}</a>
            {% endfor %}
        </div>
{% endblock %}