{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="items">
        {% for listing in listings %}
            {% if listing.active %}
                <a class="item" href="{% url 'view-listing'  listing_id=listing.id %}"> 
                    <h3>{{ listing.title }}</h3>
                    <div class="image_div">
                        {% if listing.image_url %}
                            <img src="{{ listing.image_url }}">
                        {% endif %}
                    </div>
                    <div class="description">
                        {{ listing.description }}
                        {% if listing.bid %}
                            <div><strong>Current bid: ${{ listing.bid }}</strong></div>
                        {% else %}
                            <div><strong>Starting bid: ${{ listing.starting_bid }}</strong></div>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
     
{% endblock %}