* {
    color: #dddddd
}

body {
    background-color: #2f2f2f;
}

.upper-right {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 5px
}

input {
    border-radius: 6px;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: 2f2f2f;
    background-color: #222222;
    padding: 12px;
    border-radius: 10px;
    margin: 3px;
}

input, button {
    background-color: #222222;
    border: 0;
    padding: 15px;
}

.search-div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
}


.search {
    width: 60%;
    display: block;
    margin: auto;
    border-radius: 20px;
    max-width: 800px;
}

.buttons {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}

span {
    margin: 10px;
    display: inline-block;
    padding: 10px;
}